@import "tailwindcss";

@theme {
  --color-terminal-yellow:#E0AF68;
  --color-terminal-green: #9ECE6A;
  --color-terminal-gray:  #414868;
  --color-terminal-blue:  #7AA2F7;
  --color-terminal-red:   #F7768E;
  --color-terminal-dark:  #1A1B26;
  --color-terminal-light: #C0CAF5;
}

body {
  background-image: url('/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // background-image: url('/bg-pattern.png');
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-terminal-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-terminal-gray);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-terminal-blue);
}

::-webkit-scrollbar-corner {
  background: var(--color-terminal-dark);
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-terminal-gray) var(--color-terminal-dark);
}

